@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --dark-tone: #1a1919;
  --primary-color: #1b5996;
  --secondary-color: #919046;
  --background-color: #ffffff;
  --grey-accent: #f0f4f8;
  --primary-accent: #a8beda;
  --primary-hover: #16457a;
  --secondary-hover: #76783a;
}

.backface-visible {
  backface-visibility: "visible";
}
